<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Page</title>
</head>
<body>
    <h1>Welcome to my test page!</h1>
    <p>This is a test webpage served by Nginx on {{ ansible_distribution }}</p>
</body>
</html>

